<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Movies</mat-toolbar>
    <mat-nav-list class="navList">
      <a mat-list-item routerLink="/action">Action</a>
      <a mat-list-item routerLink="/thriller">Thriller</a>
      <a mat-list-item routerLink="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="basic" class="customToolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Entertainment Portal</span>
    </mat-toolbar>
    <!-- Content goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100;1,800&display=swap" rel="stylesheet">
